.weather-service-container {
  padding: 20px;
  background: #f0f0f0;
  border-radius: 10px;
  max-width: 400px;
  margin: auto;
  text-align: center;
}

.weather-service-container img {
  width: 40px!important;
  margin-bottom: 10px!important;
}

.weather-input-container {
  margin-bottom: 10px;
}

.weather-data-container {
  margin-top: 80px;
  text-align: center;
}

.weather-icon {
  width: 80px!important;
  height: 80px!important;
  position: relative!important;
  top: 50%!important; 
  left: 40%!important;
  transform: translate(-50%, -200%)!important;
}

.weather-icon-clear {
  width: 80px;
  height: 80px;
  position: relative!important;
  top: 50%!important; 
  left: 40%!important;
  transform: translate(-50%, -200%);}

.weather-icon-clouds {
  width: 80px;
  height: 80px;
  position: relative!important;
  top: 50%!important; 
  left: 40%!important;
  transform: translate(-50%, -200%);}

.weather-icon-rain {
  width: 80px!important;
  height: 80px!important;
  position: relative!important;
  top: 50%!important; 
  left: 40%!important;
  transform: translate(-50%, -200%)!important;
}

.weather-icon-snow {
  width: 80px;
}

.weather-icon-wind {
  width: 80px;
}

.weather-icon-mist {
  width: 80px;
  height: 80px;
  position: relative!important;
  top: 50%!important; 
  left: 40%!important;
  transform: translate(-50%, -200%);
}

.weather-icon-drizzle {
  width: 80px;
  height: 80px;
  position: relative!important;
  top: 50%!important; 
  left: 40%!important;
  transform: translate(-50%, -200%)!important;
}