ul {
  list-style-type: none;
  padding: 0;
}

.weather-service-container .edit-buttons button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-right: 5px;
  padding: 5px;
}

.weather-service-container .edit-buttons button img {
  width: 80px;
  height: 80px;
}

.weather-input-container {
  margin-bottom: 80px;
}

.weather-data-container {
  margin-top: 80px;
}

.weather-icon {
  margin-top: 80px;
  width: 80px; /* Ajustez la taille par défaut */
}

.weather-icon-clear {
  width: 90px; /* Ajustez la taille spécifique pour l'icône Clear */
}

.weather-icon-clouds {
  width: 100px; /* Ajustez la taille spécifique pour l'icône Clouds */
}

.weather-icon-rain {
  width: 110px; /* Ajustez la taille spécifique pour l'icône Rain */
}

.weather-icon-snow {
  width: 110px; /* Ajustez la taille spécifique pour l'icône Snow */
}

.weather-icon-wind {
  width: 110px; /* Ajustez la taille spécifique pour l'icône Wind */
}

.weather-icon-mist {
  width: 170px; /* Ajustez la taille spécifique pour l'icône Mist */
}

.editing-container {
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.edit-buttons button {
  background-color: white;
  border: none;
  cursor: pointer;
  margin-right: 5px;
}

.edit-buttons button img {
  width: 20px;
  height: 20px;
}

.youtube-subscribers-container {
  padding: 20px;
  background: #f0f0f0;
  border-radius: 10px;
  max-width: 400px;
  margin: auto;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}